[client]
port=3306
socket=${serverpath}/mysql/tmp/mysql.sock
character-sets-dir=${serverpath}/mysql/share/charsets/

[mysqld_safe]
socket = ${serverpath}/mysql/tmp/mysql.sock
nice  = 0

[mysql]
default-character-set=utf8

[mysqld]
port=3306
socket=${serverpath}/mysql/tmp/mysql.sock
character-sets-dir=${serverpath}/mysql/share/charsets/
basedir="${serverpath}/mysql/"
datadir="${serverpath}/mysql/data/"
tmpdir ="${serverpath}/mysql/tmp/"
character-set-server=utf8
default-storage-engine=MYISAM
max_connections=255
query_cache_size=0
table_cache=256
tmp_table_size=18M
thread_cache_size=8
myisam_max_sort_file_size=100G
myisam_sort_buffer_size=35M
key_buffer_size=25M
read_buffer_size=64K
read_rnd_buffer_size=256K
sort_buffer_size=256K
